<h1>Contributors</h1>
<ul>
	<li>Jagadeesh Sirupura</li>
	<li>Rajdeep Barman</li>
</ul>

<section>
	<h2>Implementations</h2>
	<ul>
		<li>Routing using <code>RouterModule</code></li>
		<li>
			<div>Data Binding</div>
			<ul>
				<li>One-way Property Binding via. <em>Interpolation</em></li>
				<li>Two-way Property Binding
				<li>Event Binding</li>
			</ul>
		</li>
		<li>Data tranformation using <code>Pipes</code></li>
		<li>
			<div>
				Multiple Components - keeping to the&nbsp;<em>Single responsibility principle</em> to facilitate reusability and ease in testing.
			</div>
			<div>Nesting Components</div>
			<ul>
				<li>@Input()</li>
				<li>@Output()</li>
				<li>EventEmitter</li>
			</ul>
		</li>
		<li>
			<div>Dependency Injection</div>
			<ul>
				<div>
					<ul>
						<li><code>Service</code> are separate classes created to <em>provide</em> data - &nbsp;<em>using Local storage service to persist To-do lists</em></li>	
					</ul>
				</div>
			</ul>
		</li>
	</ul>
</section>